h1 {
  color: white;
  background-color: black;
}

/*
========
NAV
========
*/

.nav_logo_image {
  height: 5rem;
}

span.header {
  font-size: 45px;
  top: 27px;
  position: absolute;
}

.logout :hover {
  cursor: pointer;
}

/*LIST ENTRY */

.alert-modal {
  background-color: white;
  margin: 300px 300px 0px 300px;
  padding: 21px;
  text-align: center;
  border-style: solid;
  border-width: thin;
}

.buttons {
  margin: 8px;
}
.modal-button {
  background-color: lightgray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.modal-button-confirm {
  background-color: #1082c7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

h2.downloadHeader {
  margin: 0;
}

.counterNumber {
  margin-left: 20px;
  margin-right: 5px;
  font-size: 24px;
}
span.refreshIcon {
  align-self: center;
}

span svg.MuiSvgIcon-root {
  font-size: 13px;
  color: grey;
}

span svg.MuiSvgIcon-root:hover {
  cursor: pointer;
}

.counterContainer {
  display: flex;
  justify-content: center;
}

.downloadCounter {
  display: flex;
  width: 80%;
  justify-content: center;
}
